<p id="notice"><%= notice %></p>

<h1>Pools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Motp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.name %></td>
        <td><%= pool.motp %></td>
        <td>
        <% pool.poolers.each do |p| %>
          <span><%= p.name %></span>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
